.navbar-nav{
    margin-left: 65%;
}
a .dropdown-item{
    color: #fffe38;
}
a:link, a:active {
    color: red;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.social_media{
    margin-left: 123px;
}
.img_title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;

}

.section-card{
    margin-right: 4px;
}
.card-img-top{
    width: 100%;
    height: 250px;
}

#section_usuario{
    margin: 0 auto;
    width: 40%;
}
#mainPage{
    /*background-color: #080d16;*/
}
#direitosDecopia{
    margin-top: 113px;
}

.section_doar{
    margin: 0 auto;
    width: 40%;
}
#imagem_card{
    width: 20%;
    height: 200px;
}

.reset_links a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #000000;
}

#links{
    color: #c63cff !important;
}

.titulo_nav_bar{
    margin-left: 20%;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'LatoBold', 'Helvetica', arial;
    font-size: x-large;
}